*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    align-items: center;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.l-container{
    width: 100%;
    max-width: 1024px;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content: space-around;
    margin: 0 auto;
}

.c-card{
    position: relative;
    width: 30vh;
    height: 20vw;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}


/* fita 0 */

.card__0 span{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
 /*    background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card__0 span::before{
    content: 'Bem Vindo';
    width: 150%;
    height: 40px;
    background: #e22020;
    position: absolute;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card__0 span::after{
    content: '';
    position: absolute;
    background-color: #ac0e0e;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 140px -140px #ac0e0e;
}

/* fita 1 */

.card__1 span{
    position: absolute;
    top: 25px;
    left: -12px;
    background-color: red;
    width: 80%;
    height: 2.5vw;
    border-radius: 25px 25px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    transition: all ease-in-out;
}

.card__1 span::before{
    content: '';
    position: absolute;
    background-color: #a30707;
    top: 34px;
    left: 0px;
    width: 12px;
    height: 15px;
    border-radius: 50% 0 0 50%;
    z-index: 2;
}

.card__1 span::after{
    content: '';
    position: absolute;
    background-color: #e22020;
    width: 12px;
    height: 18px;
    top: 30px;
    left: 0;
    border-bottom-left-radius: 50%;
}
